<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">var base = "${base}";</script>
<script type="text/javascript" src="${base}/resource/thirdparty/My97DatePicker/WdatePicker.js"></script>
<!--common begin-->
<script type="text/javascript" src="${base}/resource/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="${base}/resource/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="${base}/resource/js/jquery.form.js" ></script>
<script type="text/javascript" src="${base}/resource/js/jquery.livequery.js" ></script>
<script type="text/javascript" src="${base}/resource/js/jquery.tools.min.js" ></script>
<!-- validator begin -->
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.metadata.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.methods.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.cn.js"></script>
<!-- validator end -->
<script type="text/javascript" src="${base}/resource/js/jquery.bigautocomplete.js"></script>
<script type="text/javascript" src="${base}/resource/js/init.js" ></script>
<script type="text/javascript" src="${base}/resource/js/common.js" ></script>
<script type="text/javascript" src="${base}/resource/js/jquery.lSelect.js" ></script>


<script type="text/javascript" src="${base}/resource/thirdparty/ligerUI/js/ligerui.all.js"></script>

<link rel="stylesheet" href="${base}/resource/thirdparty/ligerUI/skins/Aqua/css/ligerui-all.css" type="text/css" />

<script type="text/javascript" src="${base}/resource/js/LG.js" ></script>
<script type="text/javascript" src="${base}/resource/js/ligerui.expand.js" ></script>

<!--css-->
<link rel="stylesheet" href="${base}/resource/css/main.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/common.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/table.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/tabs.css" type="text/css" />

<script type="text/javascript">
</script>

