<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
	var base = "${base}";
</script>
<link href="${base}/resource/thirdparty/zTree/css/demo.css"
	rel="stylesheet" type="text/css" />
<link
	href="${base}/resource/thirdparty/zTree/css/zTreeStyle/zTreeStyle.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${base}/resource/js/jquery-1.4.4.js"></script>
<script type="text/javascript"
	src="${base}/resource/thirdparty/zTree/jquery.ztree.core-3.4.js"></script>
<script type="text/javascript"
	src="${base}/resource/thirdparty/zTree/jquery.ztree.excheck-3.4.js"></script>
<script type="text/javascript"
	src="${base}/resource/thirdparty/zTree/jquery.ztree.exedit-3.4.js"></script>
<!-- ligerUI begin -->
<script type="text/javascript"
	src="${base}/resource/thirdparty/ligerUI/js/core/base.js"></script>
<script type="text/javascript"
	src="${base}/resource/thirdparty/ligerUI/js/ligerui.all.js"></script>
<script type="text/javascript" src="${base}/resource/js/LG.js"></script>
<script type="text/javascript"
	src="${base}/resource/js/ligerui.expand.js"></script>
<!-- ligerUI end -->

<!--<script type="text/javascript" src="${base}/resource/js/init.js" ></script>-->
<script type="text/javascript" src="${base}/resource/js/common.js"></script>

<link rel="stylesheet" href="${base}/resource/css/common.css"
	type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/table.css"
	type="text/css" />
